body {
  // padding: 1em;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
  resize: none;
}


/////////////////////////////////////
// styled scrollbars
/////////////////////////////////////
* {
  /* Foreground, Background */
  scrollbar-color: rgb(219, 219, 219) rgb(243, 243, 243);
}
*::-webkit-scrollbar {
  width: 7px; /* Mostly for vertical scrollbars */
  height: 7px; /* Mostly for horizontal scrollbars */
}
*::-webkit-scrollbar-thumb { /* Foreground */
  background: rgb(219, 219, 219);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(183, 183, 183);
}

*::-webkit-scrollbar-track { /* Background */
  background: rgb(243, 243, 243);
}


