@use "../../variables" as v;


.resizer-container {
  color: rgb(157, 157, 157); 

  height: 7px;
  //
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// @media screen and (max-width: v.$breakpoint--default) {
//   .resizer-container {
//     width: auto;
//     height: 7px;
    
//     //
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//   }
// }

.resizer {
  width: 10%;
  height: 7px;
  
  //
  border-color: v.$color--resizer-handle;
  border-width: 1px;
  border-style: solid;
  border-radius: 1em;
  background-color: #c4e4ff;
}

.resizer:hover {
  cursor: ns-resize;
}

// @media screen and (max-width: v.$breakpoint--default) {
//   .resizer {
//     width: 10%;
//     height: 7px;
//   }
  
//   .resizer:hover {
//     cursor: ns-resize;
//   }
// }

.test {
  overflow: auto;
  background-color: #1c87c9;
  height: 100%;
  width: 100%;
}