/*:root {*/
/*  box-sizing: border-box;*/
/*  font-size: 100%;*/
/*}*/

/**, ::after, ::before {*/
/*  box-sizing: inherit;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

body {
  padding: 1em;
}

textarea {
  resize: none;
}


.main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 3em;
}

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
  }
}

/*.editor-container {*/
/*  display: block;*/
/*  width: 100%;*/
/*  !*height: auto;*!*/
/*}*/

/*#html {*/
/*  border-style: solid;*/
/*  border-width: 1px;*/
/*  display: block;*/
/*  width: 100%;*/
/*  !*height: 100%;*!*/
/*}*/

#output {
  flex-grow: 1;
  flex-shrink: 0;
}