@use "../../variables" as v;

.output {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  
  overflow: clip;
  //
  border-style: solid;
  border-radius: .2em;
  border-width: 1px;
  border-color: #727272;
  
  //
  display: flex;
  justify-content: center;
  align-items: stretch;
}

@media screen and (max-width: v.$breakpoint--default) {
  .output {
  
  }
}

#output__canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  
  flex-grow: 1;
  flex-shrink: 0;
  border: none;
}

.resizer-helper {
  position: absolute;
  height: 100%;
  width: 100%;
  
  flex-grow: 1;
  flex-shrink: 0;
  opacity: 0;
  z-index: 10;
}
